@tailwind base;
@tailwind components;
@tailwind utilities;

.top-bar {
  width: 100%;
  height: 64px;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  padding: 2px;
}
.loadingDiv {
  background-image: conic-gradient(red 20deg, transparent 120deg);
  height: 2300%;
  width: 150%;
  position: absolute;
  left: -20%;
  top: -1100%;
  animation: rotate 2s infinite linear;
}
@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}

.content {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
